@import '../../variables.css';

.button {
    display: block;
    padding: 0;

    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.9px;

    border: none;
    border-radius: 2px;

    cursor: pointer;
    outline: none;
    
    transition: background-color var(--animation-function) var(--animation-duration),
                box-shadow var(--animation-function) var(--animation-duration);
    box-shadow: 0 5px 10px 0 transparent;
    
}