/*@import './variables';*/

@define-mixin add-font $src, $weight, $family: 'HelveticaNeueCyr', $style: normal {
    @font-face {
        font-family: $family;
        src: url($src) format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}
    @mixin add-font './assets/fonts/HelveticaNeueCyr-UltraLight.woff', 100;
    @mixin add-font './assets/fonts/HelveticaNeueCyr-Thin.woff', 200;
    @mixin add-font './assets/fonts/HelveticaNeueCyr-Light.woff', 300;
    @mixin add-font './assets/fonts/HelveticaNeueCyr-Roman.woff', normal;
    @mixin add-font './assets/fonts/HelveticaNeueCyr-Medium.woff', 500;
    @mixin add-font './assets/fonts/HelveticaNeueCyr-Bold.woff', bold;
    @mixin add-font './assets/fonts/HelveticaNeueCyr-Black.woff', 900;

* {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

html {
    width: 100% !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:global {
    .container {
        width: 100%;
        padding-left: var(--grid-padding) !important;
        padding-right: var(--grid-padding) !important;
    }

    *:focus {
        outline: none;
    }

    .center-xs,
    .center-sm,
    .center-md,
    .center-xl {
        text-align: left !important;
    }

    [class^='col-'] {
        padding-left: var(--grid-padding) !important;
        padding-right: var(--grid-padding) !important;
    }

    .row {
        margin-left: var(--grid-margin) !important;
        margin-right: var(--grid-margin) !important;
    }

    @media only screen and (min-width: 1200px) {
        .container {
            width: 1140px;
            max-width: 100%;
        }
    }
}
